a {
font-family: Arial, Helvetica, sans-serif;
font-size:small;
}

a.menu {
font-family:"Arial";
font-variant:small-caps;
color:#FFFFFF;
font-size:medium;
text-decoration:none;
}

body {
font-family: "Times New Roman", Times, serif;
font-size: 4px;
background: #B2B2B2 url("Images/fon.png");
}

input, select, option, textarea {
 color:#000000;
 border:1px solid #666666;
 padding:2px;
 margin:2px;
 cursor:hand;
 font-family:Arial;
 font-size:small;
 overflow:hidden;
}

input.button {
border:0px;
cursor:hand;
overflow:hidden;
}

input.radio {
border:0px;
overflow:hidden;
}

input.checkbox {
border:0px;
overflow:hidden;
}

caption.table_work {
font-size:larger;
font-weight:bold;
padding:6px;
}

table.menu {
width: 100%;
}

td.menu {
border: 0px;
background:url(Images/header/zagolovok_04.gif);
}

td.menu_hover {
background:#CCCCCC;
}

table.admin_menu {
background-color: #666666;
border: 1px solid;
border-color:#FFFFFF;
width: 100%;
border-collapse:collapse;
}

table.client_menu {
border: 0px;
width: 100%;
border-collapse:collapse;
color: #FFFFFF;
}

table.client_menu_white {
background-color: #CCCCCC;
border:solid #333333 1px;
width: 95%;
border-collapse:collapse;
color: #00CCFF;
}

table.main {
width: 100%;
height:auto;
border-width:medium;
border-color:#000000;
border-left:solid;
border-right:solid;
border-width: thin;
border-collapse:collapse;
background: #B2B2B2;
}

table.main_news {
border-width:medium;
border-color:#000000;
border-left:solid;
border-right:solid;
border-width: thin;
border-collapse:collapse;
background-color:#FFFFFF;
width: 98%;
}

tr.main_news_header {
color:#000000;
background-color: #FF6600;
padding:0px;
border-style: solid 1px;
}

tr.header {
color:#FFFFFF;
background-color: #666666;
font-weight:bold;
}
tr.footer {
color:#FFFFFF;
background-color:#999999;
font-weight:bold;
}

tr.search_bar {
color:#000000;
background-color: #FF6600;
padding:0px;
}

tr.sort_bar {
color:#000000;
background-color: #FF1100;
padding:0px;
}
