{% extends "main.html" %}
{% block content %}
      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="row">
              <div class="col-md-4">
                <input type="date" class="form-control" name="date" value="2015-06-22">
              </div>
            </div>
            <br>
            <fieldset>
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#human" id="noFields" data-toggle="tab">Частное лицо</a>
                 </li>
                <li>
                  <a href="#org" id="clientFields" data-toggle="tab">Юридическое лицо</a>
                 </li>
              </ul><br>
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="human">
                  <input type="text" class="form-control" placeholder="ФИО" id="name">
                  <br>
                  <input type="text" class="form-control" placeholder="Телефон">
                </div>
                <div class="tab-pane" id="org">
                  <input type="text" class="form-control" placeholder="ФИО" disabled>
                  <br>
                  <input type="text" class="form-control" placeholder="Телефон" disabled>
                </div>
              </div>
            </fieldset>
            <hr />
            <fieldset>
              <input type="text" class="form-control" placeholder="Наименование" id="deviceFields">
              <br>
              <input type="text" class="form-control" placeholder="Серийный номер" id="serialFields">
            </fieldset>
            <hr />
            <fieldset>
              <textarea class="input-block-level form-control textarea" placeholder="Комплектность" rows="3"></textarea><br>
              <textarea class="input-block-level form-control textarea" placeholder="Заявленный дефект" rows="3"></textarea>
            </fieldset>
            <hr />
            <div class="row">
              <div class="col-md-6">
                <select class="form-control">
                  <option>Оператор 1</option>
                  <option>Оператор 2</option>
                  <option>Оператор 3</option>
                  <option>Оператор 4</option>
                  <option>Оператор 5</option>
                </select>
              </div>
              <div class="col-md-6">
                <p class="pull-right">
                  <button type="clear" class="btn btn-default">Сбросить</button>
                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Сохранить </button>
                </p>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#clientList">Клиенты</a> 
                  <span class="pull-right">
                  <input type="text" style="border: 0px; border-bottom: 1px solid black; background: #F5F5F5;  outline: none;"></input> <span class="glyphicon glyphicon-search"></span>
                  </span>
                </h4>

              </div>
              <div id="clientList" class="panel-collapse collapse in">
                  <div class="panel-body" style="overflow-y: scroll; height: 500px !important; padding: 0px;">
                    <ul class="list-group">
                      <li class="list-group-item"><a href="#">Cras justo odio</a></a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Morbi leo risus</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Porta ac consectetur ac</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Vestibulum at eros</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Cras justo odio</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Morbi leo risus</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Porta ac consectetur ac</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Vestibulum at eros</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Cras justo odio</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Morbi leo risus</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Porta ac consectetur ac</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Vestibulum at eros</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Cras justo odio</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Morbi leo risus</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Porta ac consectetur ac</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                      <li class="list-group-item"><a href="#">Vestibulum at eros</a> <span class="glyphicon glyphicon-pencil pull-right"></span></li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#deviceList">Техника</a>
                </h4>
              </div>
              <div id="deviceList" class="panel-collapse collapse in">
                <div class="panel-body" style="overflow-y: scroll; height: 300px !important; padding: 0px;">
                  <select multiple class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#serialList">Серийные номера</a>
                </h4>
              </div>
              <div id="serialList" class="panel-collapse collapse in">
                <div class="panel-body" style="overflow-y: scroll; height: 300px !important; padding: 0px;">
                  <select multiple class="form-control" style="height: auto;">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#clientList').collapse('hide');
        $('.panel-heading .tools').hide();
        $('#deviceList').collapse('hide');
        $('#serialList').collapse('show');
        $('#name').focus();
      });
      $('#noFields').on('click', function() {
        $('#clientList').collapse('hide');
        $('.panel-heading .tools').hide();
        $('#name').focus();
        $('#deviceList').collapse('hide');
        $('#serialList').collapse('hide');
      });
      $('#clientFields').on('click', function() {
        $('#clientList').collapse('show');
        $('.panel-heading .tools').show();
        $("[name='clientSearch']").focus();
        $('#deviceList').collapse('hide');
        $('#serialList').collapse('hide');
      });
      $('#deviceFields').on('click', function() {
        $('#clientList').collapse('hide');
        $('.panel-heading .tools').hide();
        $('#deviceList').collapse('show');
        $('#serialList').collapse('hide');
      });
      $('#serialFields').on('click', function() {
        $('#clientList').collapse('hide');
        $('.panel-heading .tools').hide();
        $('#deviceList').collapse('hide');
        $('#serialList').collapse('show');
      });
    </script>
{% endblock %}
    