body {
	font-family: "Times New Roman", Times, serif;
	font-size: medium;
	background: #B2B2B2 url("Images/fon.png");
	padding: 0px;
	margin: 0px;
}

img {
	border: 0px;
}

input, select, option, textarea {
	cursor: pointer;
}

table.main {
	width: 85%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-color: #000000;
	border-left: solid;
	border-right: solid;
	border-width: thin;
	border-collapse: collapse;
	background: #B2B2B2;
}

table.header {
	width: 100%;
	border-collapse: collapse;
	background-color: #666666;
}
.header td {
	padding: 0px;
}

.menu {
	border-collapse: collapse;
	width: 100%;
}
.menu td {
	text-align: center;
	background: url("Images/header/zagolovok_04.gif");
}
.menu td:hover {
	background: #CCCCCC;
}
.menu a {
	font-family: "Arial";
	color: #FFFFFF;
	font-size: medium;
	text-decoration: none;
}

table.name_sort_bar {
	height: 10px;
	width: 80%;
}

tr.search_bar {
	color: #000000;
	background-color: #FF6600;
	text-align: center;
}
.search_bar input {
	width: 90%;
	margin-top: 2px;
	margin-bottom: 2px;
}

table.manywork {
	width: 98%;
	border-collapse: collapse;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
tr.manywork_header {
	color: #FFFFFF;
	background-color: #666666;
	font-weight: bold;
	text-align: center;
}
tr.manywork_uncomplete {
	background: #FFFFFF;
}
tr.manywork_uncomplete:hover {
	background: #EEEEEE;
}
tr.manywork_complete {
	background: #FFCC66;
}
tr.manywork_complete:hover {
	background: #FFCC99;
}
.manywork td {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	border: 1px solid #000000;
}

table.singlework_header {
	border-collapse: collapse;
	border: 1px solid black;
	width: 98%;
	color: #FFFFFF;
	background-color: #666666;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
}
.singlework_header caption {
	color: black;
	font-size: larger;
	font-weight: bold;
	padding: 6px 6px 6px 6px;
}
a.back {
	color: black;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}
a.back:hover {
	background-color: #E5E5E5;
}

.singlework_header td {
	border: 1px solid black;
}
.singlework_header a {
	color: white;
	text-decoration: none;
	
}

table.singlework {
	border-collapse: collapse;
	border: 1px solid black;
	width: 98%;
	color: black;
	background-color: white;
	text-align: center;
	margin-top: 0px;
}
.singlework td {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}
.singlework td.work {

}
.singlework td.hard {
	background-color: #E5E5E5;
}
.toolbar {
	margin-top: 20px;
	width: 90%;
	padding: 5px;
}
.statusbar {
	float: left;
}
.statusbar img {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.buttonbar {
	display: inline-block;
	background: none;
	margin: 0;
	padding: 3px 0;
	border-width: 0;
	overflow: visible;
	text-decoration: none;
	color: #333333;
        float: right;
}
.buttonbar span {
	background: #ddd url("Images/buttonbar.gif") repeat-x 0 0;
	margin: 0;
	padding: 3px 0;
	border-left: 1px solid #bbb;
	border-right: 1px solid #aaa;
}
.buttonbar span span {
	position: relative;
	padding: 3px .4em;
	border-width: 0;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #aaa;
}
.buttonbar:active span {
	background-position: 0 -400px;
	outline: none;
}
.buttonbar:hover span, .buttonbar:hover span span, .buttonbar:focus span, .buttonbar:focus span span {
	cursor: pointer;
	border-color: #9cf !important;
	color: #000;
}
button.primary {
	font-weight: bold;
	color: #000;
}
button.warning {
	color: red;
}
table.singlework_footer {
	border-collapse: collapse;
	border: 1px solid black;
	width: 98%;
	color: #FFFFFF;
	background-color: #666666;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
}

table.totalmonth {
	border-collapse: collapse;
	border: 1px solid black;
	width: 98%;
	color: black;
	background-color: #666666;
	text-align: center;
	margin-bottom: 0px;
}
.totalmonth caption {
	font-weight: bold;
}
.totalmonth td {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}
.totalmonth tr.header {
	color: white;
	font-weight: bold;
}
table.totalmonth_footer {
	border-collapse: collapse;
	border: 1px solid black;
	width: 98%;
	color: white;
	background-color: #666666;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
}

tr.footer {
	color: #FFFFFF;
	background-color: #999999;
	font-weight: bold;
}

table.priem_main {
	width: 95%;
	padding: 0px;
}
table.priem_frame, .second_frame {
	width: 100%;
	border-collapse: collapse;
}
.priem_frame td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}
.priem_frame input.text {
	border: 1px solid black;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	background: #FFFFFF;
}
.priem_frame textarea {
	border: 1px solid black;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	width: 98%;
	border-radius: 3px;
	background: #FFFFFF;
}
.priem_frame fieldset {
	cursor: pointer;
	border: 1px solid black;
	padding: 7px;
	margin: 0px;
	border-radius: 3px;
	text-align: center;
	vertical-align: top;
}
.priem_frame legend {
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}
table.clientinfo {
	width: 100%;
}

.priem_frame select.devicelist {
	border: 1px solid black;
	text-align: left;
	padding-left: 5px;
	overflow: hidden;
	width: 98%;
	background: #FFFFFF;
	border-radius: 3px;
}
.priem_frame input.names_search {
	border: 1px solid black;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	width: 90%;
	background: #FFFFFF;
}
.priem_frame table.buttonbar {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.frame_caption {
	font-weight: bold;
	padding: 0px;
	padding-bottom: 5px;
}
.secondframe input {
	margin-bottom: 5px;
}
