{% extends "main.html" %}
{% block jslibs %}
	<script type="text/javascript" src="/js/add.js"></script>
	<script type="text/javascript" src="/lib/bootstrap3.typeahead.min.js"></script>
{% endblock %}
{% block content %}
			<div class="row">
				<div class="col-md-6">
					<form action="index.php?r=add/_create" method="post" id="on-addWork">
						<input type="hidden" id="id_client" name="id_client" />
						<input type="hidden" id="id_model" name="id_model" />
						<div class="row">
							<div class="col-md-4">
								<input type="date" class="form-control" id="date" name="date" value="{{ "now"|date("Y-m-d") }}">
							</div>
						</div>
						<br>
						<fieldset>
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#human" id="noFields" data-toggle="tab">Частное лицо</a>
								 </li>
								<li>
									<a href="#org" id="clientFields" data-toggle="tab">Юридическое лицо</a>
								 </li>
							</ul><br>
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="human">
									<input type="text" class="form-control" placeholder="ФИО" id="fio_human" name="fio_human" />
									<br>
									<input type="text" class="form-control" placeholder="Телефон" id="tel_human" name="tel_human" />
								</div>
								<div class="tab-pane" id="org">
									<input type="text" class="form-control" placeholder="ФИО" id="fio_org" disabled />
									<br>
									<input type="text" class="form-control" placeholder="Телефон" id="tel_org" disabled />
								</div>
							</div>
						</fieldset>
						<hr />
						<fieldset>
							<div id="deviceFields">
								<input type="text" class="form-control" placeholder="Наименование" id="device_name" disabled />
							</div>
							<br>
							<div id="serialFields">
								<input type="text" class="form-control" placeholder="Серийный номер" id="serial" name="serial" />
							</div>
						</fieldset>
						<hr />
						<fieldset id="affixFields">
							<textarea class="input-block-level form-control textarea" placeholder="Комплектность" name="complect" rows="3"></textarea><br>
							<textarea class="input-block-level form-control textarea" placeholder="Заявленный дефект" name="defect" rows="3"></textarea>
						</fieldset>
						<hr />
						<div class="row">
							<div class="col-md-5">
								<select class="form-control" id="prin" name="prin">
								{% for prin in header.prins %}
									<option value="{{prin.id_prin}}">{{ prin.prin }}</option>
								{% endfor %}
								</select>
							</div>
							<div class="col-md-2">
								<div class="material-switch" data-toggle="tooltip" data-placement="top" data-original-title="Печать бланка">
									<input id="print" name="print" type="checkbox" checked />
									<label for="print" class="label-primary"></label>
								</div>
							</div>		
							<div class="col-md-5">
								<p class="pull-right">
									<button type="reset" value="Reset" class="btn btn-default">Сбросить</button>
									<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Сохранить </button>
								</p>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<span id="on-ListName">Списки</span>
								<span class="pull-right">
								<input type="text" id="ListSearch" style="border: 0px; border-bottom: 1px solid black; background: #F5F5F5;  outline: none;"></input> <span class="glyphicon glyphicon-search on-searchClear"></span>
								</span>
							</h4>
						</div>
						<div id="ListPanel" class="panel-collapse collapse in">
							<div class="panel-body" style="overflow-y: scroll; height: 500px !important; padding: 0px;">
								<table class="table table-stripped" id="List">
									<tr>
										<td>Нет данных</td>
										<td></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
	<div class="modal fade" id="editClient_modal" tabindex="-1" role="dialog" aria-labelledby="editClient_label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="editClient_label">Добавить/Изменить клиента</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" id="editClient_id"></input>
					<div class="form-group">
						<input type="text" id="editClient_name" class="form-control"></input>
					</div>
					<div class="form-group">
						<input type="text" id="editClient_tel" class="form-control"></input>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="editClient_submit" autocomplete="off" class="btn btn-primary">Отправить</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="editModel_modal" tabindex="-1" role="dialog" aria-labelledby="editModel_label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="editClient_label">Добавить/Изменить устройство</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" id="editModel_id"></input>
					<div class="form-group">
						<input type="text" id="editModel_type" class="form-control" data-provide="typeahead" autocomplete="off" placeholder="Тип техники"></input>
					</div>
					<div class="form-group">
						<input type="text" id="editModel_brand" class="form-control" data-provide="typeahead" autocomplete="off" placeholder="Производитель"></input>
					</div>
					<div class="form-group">
						<input type="text" id="editModel_name" class="form-control" data-provide="typeahead" autocomplete="off" placeholder="Наименование"></input>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="editModel_submit" autocomplete="off" class="btn btn-primary">Отправить</button>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}
