{% extends "main.html" %}
{% block jslibs %}
        <script type="text/javascript" src="/js/many.js"></script>
{% endblock %}
{% block content %}
{% if header.urls.month %}
    {% set searchOption = 'year' %}
{% else %}
    {% set searchOption = 'worker' %}
{% endif %}
{% include 'searchbar.html' with {'searchOption': searchOption, 'header': header } %}

<table class="table table-bordered table-condensed table-hover" id="table-works">
<thead>
    <tr>
        <th>&nbsp;</th>
        <th class="hide">##</th>
        <th>Дата</th>
        <th>Техника</th>
        <th>Заказчик</th>
        <th>Серийный номер</th>
        <th>Статус</th>
        <!-- <th>Управл.</th> -->
    </tr>
</thead>
<tbody>
{% for work in works %}
    <tr>
            <td width="2%">
                <span style="color: #{{ header.workers[work.id_worker].color }}" class="glyphicon glyphicon glyphicon-user" data-toggle="tooltip" data-placement="top" data-original-title="{{ header.workers[work.id_worker].worker }}"></span>
            </td>
            <td class="hide">{{ work.id_r }}</td>
            <td align="center" title="id: {{ work.id_r }}" 
                {% if work.complete == "N" %}
                style="color: green;"
                {% endif %}
            >{{ work.date }}</td>
            <td align="left">
                <a href="index.php?r=single/view&id={{ work.id_r }}">{{ work.model }}</a>
            </td>
            <td align="center">
            {% if work.id_client == 1 %}
                {{ work.client_fio }}
            {% else %}
                {{ work.client }}
            {% endif %}
            </td>
            <td align="center">{{ work.serial }}</td>
            <td align="center">
            {% for icon in work.string %}
                {% if icon == 'Y' %}
                    <img src='img/icon/s_{{ loop.index0 }}_Y.png' data-toggle="tooltip" data-placement="top" data-original-title='{{ header.string_text[loop.index0]|default('Нет описания') }}' />
                {% endif %}
            {% endfor %}
            <!-- {{ work.znaki|raw }} -->
            </td>
<!--             <td  align="center">
            <img src="Images/Icon/b_edit.png" border="0" alt="Edit">
            &nbsp;
            <a href='request.php?action=delete_work&id=4715'>	<img src='Images/Icon/b_drop.png' border='0' alt='Delete' target='_self'/></a>
            </td>
 -->
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}