{% extends "main.html" %}
{% block jslibs %}
		<script type="text/javascript" src="/js/single.js"></script>
{% endblock %}
{% block content %}
				{% if header.complete == "Y" %}
				<span class="glyphicon glyphicon-chevron-left"></span> <a href='/index.php?r=many/complete&date={{ "now"|date("m/Y") }}'>Вернуться назад</a>
				{% else %}
				<span class="glyphicon glyphicon-chevron-left"></span> <a href='/index.php?r=many/incomplete'>Вернуться назад</a>
				{% endif %}

				<h3>
				{% if header.complete == "Y" %}
				<span class="glyphicon glyphicon-check"></span>
				{% else %}
				<span class="glyphicon glyphicon-unchecked"></span>
				{% endif %}
				Работа # <span id="work-id">{{ header.id_r }}</span> от <span id="work-date">{{ header.date_start }}</span> - {{ header.date_complete|default('00.00.0000') }}</h3>

				<!--<div class="container">-->
					<div class="row">
						<div class="col-md-3">
							<dl>
							  <dt>Заказчик:</dt>
							  <dd>{{ header.client_fio }}</dd>
							  <dt>Телефон:</dt>
							  <dd><span id="client_tel">{{ header.client_tel }}</span></dd>
							</dl>
						</div>
						<div class="col-md-3">
							<dl>
							  <dt>Техника:</dt>
							  <dd>{{ header.type }} {{ header.brand }} {{ header.model }}
								<a title="Поиск по модели" data-toggle="tooltip"
								  href='/index.php?act=incomplete&search=y&model={{ header.id_model }}'>
									<span class="glyphicon glyphicon-search"></span>
								</a>
							  </dd>
							  <dt>Серийный номер:</dt>
							  <dd>
								{{ header.serial }} 
								<a title="Поиск по серийному номеру" data-toggle="tooltip"
								  href='/index.php?act=incomplete&search=y&serial={{ header.serial }}'>
								  <span class="glyphicon glyphicon-search"></span>
								</a>
							  </dd>
							</dl>
						</div>
						<div class="col-md-3">
							<dl>
								<dt>Принял:</dt>
								<dd>{{ header.prin }}</dd>
								<dt>Работает:</dt>
								<dd>
								<div class="form-inline">
									<div id="worker-select">
										<select class="form-control input-sm" id="work-worker-select" name="work-worker-select">
										{% for id_worker, worker in header.workers %}
											{% if worker.hidden == 'N' %}
											<option value="{{ id_worker }}">{{ worker.worker }}</option>
											{% endif %}
										{% endfor %}
										</select> <span class="glyphicon glyphicon-ok onLink onWorkerSave"></span>
									</div>
									<div id="worker-name">
										<span id="work-worker" data-worker-id="{{ header.id_worker }}">{{ header.workers[header.id_worker].worker }}</span> <span class="glyphicon glyphicon-remove onLink onWorkerRemove"></span>
									</div>
								</div>
								</dd>
							</dl>
						</div>
						<div class="col-md-3">
							<dl>
								<dt>Счётчик:</dt>
								<dd>
								<div class="form-inline">
									<div id="counter-select" style="display: none;">
										<input class="form-control input-sm" id="work-counter" name="work-counter" value="{{ header.counter }}" /> <span class="glyphicon glyphicon-ok onLink onCounterSave"></span>
									</div>
									<div id="counter-name">
										<span id="work-counter-name" data-counter="{{ header.counter }}">{{ header.counter }}</span> <span class="glyphicon glyphicon-remove onLink onCounterEdit"></span>
									</div>
								</div>
								</dd>
							</dl>
						</div>					</div>
					<div class="row">
						<div class="col-md-12">
							<dl class="dl-horizontal">
								<dt>Комплектация: </dt>
								<dd>{{ header.complect }}</dd>
								<dt>Причина обращения: </dt>
								<dd>{{ header.defect }}</dd>
							</dl>
						</div>
					</div>

				<!--</div>-->

<table class="table table-condensed">
	<tr>
		<th>&nbsp;</th>
		<th>Дата</th>
		<th>Работа</th>
		<th>Сумма</th>
		<th>Упр.</th>
	</tr>
{% for work in works %}
	<tr>
			<td>
				<span style="color: #{{ header.workers[work.id_worker].color }}" class="glyphicon glyphicon glyphicon-user"></span>
			{{ header.workers[work.id_worker].worker }}</td>
			<td>{{ work.date }}</td>
			<td class="work" align="left">{{ work.text|raw }}
			{% if work.hard is iterable %}
				<i>
			{% for hard in work.hard %}
				<br />{{ hard.edit_hard }} - {{ hard.edit_hardprice }}
			{% endfor %}
				</i>
			{% else %}
				<br />
				{{ work.hard|raw }}
			{% endif %}
			</td>
			<td align="center">{{ work.price }}
			{% if work.hard_price != 0 %}<br />{{ work.hard_price }}{% endif %}
			</td>
			<td  class="work" align="center">
			{% if header.complete == "N" %}
			<a href="#" data-work-id="{{ work.id }}" class="onWorkEdit"><span class="glyphicon glyphicon-pencil"></span></a>
			&nbsp;
			<a href="#" data-work-id="{{ work.id }}" class="onWorkDel"><span style="color: red;" class="glyphicon glyphicon-remove"></span></a>
			{% endif %}
			</td>
	</tr>
{% endfor %}
</table>

	<div class="row">
		<div class="col-md-6 col-md-offset-6">
			<h4 class="pull-right worktotal">Итого: ({{ header.total_price }} + {{ header.total_hard_price }}) = {{header.total_price + header.total_hard_price }} руб.</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="btn-group statusbar" data-toggle="buttons" id="status-icon">
			{% for icon in header.string %}
				<label class="btn btn-default{% if icon == 'Y' %} active{% endif %}" data-id="{{ header.id_r }}" data-value="{{ loop.index0 }}">
					<input type="checkbox">
					<img src='img/icon/s_{{ loop.index0 }}_Y.png' data-toggle="tooltip" data-placement="top" data-original-title='{{ header.string_text[loop.index0]|default('Нет описания') }}' />
				</label>
			{% endfor %}
			</div>
		</div>
		<div class="col-md-6">
		{% if header.complete == "N" %}
			<button type="button" class="btn btn-primary onWorkAdd" data-curr-date="{{ "now"|date("Y-m-d") }}">
			<i class="glyphicon glyphicon-plus"></i> Добавить запись</button>
			<div class="btn-group">
				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
				<i class="glyphicon glyphicon-envelope"></i> СМС <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li>
					{% if header.date_smsstart == 1 %}
						<a data-toggle="modal" data-target="#sendSMS_modal" href="#">Отправить </a>
					{% else %}
						<a href="#" disabled="disabled"><s>Отправить </s></a>
					{% endif %}
					</li>
					<li><a href="/index.php?r=sms/view&search={{ header.client_tel }}" target="_blank">История</a></li>
				</ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<i class="glyphicon glyphicon-print"></i> Печать <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/index.php?r=print/add&id={{ header.id_r }}" target="_blank">Печать бланка</a></li>
					<li><a href="#" id="printCheck_submit">Печать чека</a></li>
				</ul>
			</div>
			<div class="btn-group">
				<a class="btn btn-success onWorkComplete"  href="">
				<i class="glyphicon glyphicon-ok"></i> Завершить работу</a>
				<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>&nbsp;
					<span class="sr-only">Меню с переключением</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="" class="onWorkCompleteWOCheck">Завершить без чека</a></li>
				</ul>
			</div>
		{% else %}
			<a class="btn btn-default btn-danger onWorkUncomplete" href=""><i class="glyphicon glyphicon-ok"></i> Вернуть в работу</a>
		{% endif %}
		</div>		
	</div>

	<hr />

	<div class="row">
		<div class="col-md-12" id="editFrame">
			<form role="form" id="editForm" action="" method="post">
				<div class="container">
					<input type="hidden" id="edit_id" name="edit_id" value="{{ header.id_r }}"></input>
					<input type="hidden" id="edit_id_work" name="edit_id_work" value=""></input>
					<input type="hidden" id="edit_parts" name="edit_parts" value=""></input>
					<input type="hidden" id="edit_parts_price" name="edit_parts_price" value=""></input>
					<div class="form-group">
						<div class="row">
							<div class="col-md-2 col-md-offset-2">
								<input type="date" id="edit_date" name="edit_date" value="{{ "now"|date("Y-m-d") }}" placeholder="Дата" class="form-control"></input>
							</div>  
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<textarea id="edit_text" name="edit_text" class="form-control" rows="3"></textarea>
							</div>  
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-2 col-md-offset-2">
								<input type="number" id="edit_price" name="edit_price" value="" placeholder="Цена" class="form-control"></input>
							</div>
							<div class="col-md-2 col-md-offset-4">
								<button type="button" class="btn btn-info btn-block onPartsAdd"><i class="glyphicon glyphicon-plus"></i> Комплектующие</button>
							</div>
						</div>
					</div>
					<div id="parts_row" style="display: none;">
					<div class="form-group">
						<div class="row">
							<div class="col-md-5 col-md-offset-2">
								<input type="text" value="" name="hard" placeholder="Наименование" class="form-control"></input>
							</div>
							<div class="col-md-2">
								<input type="number" value="" name="hard_price" placeholder="Цена" class="form-control"></input>
							</div>
							<div class="col-md-1">
								<button type="button" class="btn btn-link btn-block" onclick="$(this).parent().parent().parent().remove();">Удалить</button>
							</div>
						</div>
					</div>
					</div>

					<div class="form-group" id="parts">
					</div>

					<div class="form-group">
						<div class="row">       
							<div class="col-md-2 col-md-offset-6">
								<select class="form-control" id="edit_worker" name="edit_worker">
								{% for id_worker, worker in header.workers %}
									{% if worker.hidden == 'N' %}
									<option value="{{ id_worker }}">{{ worker.worker }}</option>
									{% endif %}
								{% endfor %}
								</select>
							</div>
							<div class="col-md-2">
								<button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-ok"></i> Сохранить запись</button>
							</div>
						</div>
					</div>
				</div>
			</form>            
		</div>
	</div>
	<div class="modal fade" id="sendSMS_modal" tabindex="-1" role="dialog" aria-labelledby="sendSMS_label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="sendSMS_label">Отправить SMS клиенту</h4>
				</div>
				<div class="modal-body">
					<textarea id="sendSMS_text" class="form-control" rows="4">Ваш {{ header.type|lower }} готов к выдаче.
Подробности на сайте: сц-онлайн.рф</textarea>
				</div>
				<div class="modal-footer">
					<button type="button" id="sendSMS_submit" autocomplete="off" class="btn btn-primary" data-loading-text="Отправка...">Отправить</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
