{% extends "main.html" %}
{% block content %}
{% if data.month %}
<div class="btn-group">
  <button type="button" class="btn btn-default"><a href="{{ data.lefturl }}"><span class="glyphicon glyphicon-chevron-left"></span></a></button>
  <button type="button" class="btn btn-default">{{ data.month }}</button>
  <button type="button" class="btn btn-default"><a href="{{ data.righturl }}"><span class="glyphicon glyphicon-chevron-right"></span></a></button>
</div>
<br />
<br />
{% endif %}
<div class="row">
	<div class="col-md-12">
		<div class="input-group">
			<input type="search" id="search" value="{{ search }}" class="form-control" placeholder="Поиск...">
			<div class="input-group-btn">
				<button type="button" id="search-clear" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-remove form-control-feedback"></span></button>
			</div>
		</div>
	</div>
</div>
<br />
<table class="table table-bordered table-condensed table-hover" id="table-works">
<thead>
	<tr>
		<th>Дата</th>
		<th>Заказчик</th>
		<th>Телефон</th>
		<th>Текст</th>
		<th>Отправитель</th>
		<th>Статус</th>
	</tr>
</thead>
<tbody>
{% for sms in data %}
	<tr>
		<td align="center" nowrap><a href="index.php?r=single/view&id={{ sms.id_r }}">{{ sms.client }}</a></td>
		<td align="center" nowrap>+7{{ sms.phone }}</td>
		<td align="left">{{ sms.text_s }}</td>
		<td align="center" nowrap>{{ sms.worker }}</td>
		<td  align="center" nowrap>{{ sms.status_s }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}